.row{
    height: 300px;
    display: flex;
    gap: 10px;
    margin-bottom: 7px;
}
img{
    width: 100%;
    height: 100%;
}
.container2{
    display: flex;
    gap: 5px;
}
.two-column img{
    height: calc( (100% - 5px)/2 );
}
.row div{
    flex: 1;
}
.box-collage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}

@media screen and (max-width: 576px) {
    
    .row{
        flex-direction: column;
        height: auto;
    }
    .box-collage{
        grid-template-columns: 1fr;
    }

} 
@media screen and (min-width: 576px) and (max-width: 992px) {
    
    .row{
        flex-direction: column;
        height: auto;
    }
    
} 